/* Engschrift font link */
@font-face {
    font-family: Engschrift;
    src: url("Assets/Fonts/DINEngschrift/DINEng");
}

/* Nunito light link */
@font-face {
    font-family: Nunito Light;
    src: url("Assets/Fonts/Nunito_Sans/NunitoSans-Light.ttf");
}

/* Changes background to the chair.jpg and orange if the picture is not available, fixes it and it covers the whole page. The body uses the font nunito light and has no padding or margin */
body {
    background: url('Assets/chair.jpg'), #f7913d;
    background-attachment: fixed;
    background-size: 100% 120%;
    font-family: 'Nunito Light', sans-serif;
    padding: 0;
    margin: 0;
}

/* the header is orange, using a engschrift font with a padding of 5px on the bottom */
header {
    background: #f7913d;
    font-family: 'Engschrift', sans-serif;
    padding-bottom: 5px;
}

/*Sizing styles for the nav */
nav {
    margin: 0 auto;
}

/* No list style in the navigation unordered list */
nav ul {
    list-style: none;
}

/* For each link in the unordered nav list, the font size is 1.3em, displayed inline-block with no top/bottom margin and auto side margins and a width of 20% */
nav ul li {
    font-size: 1.3em;
    display: inline-block;
    margin: 0 auto;
    width: 20%;
}

/* For each a tag in a link in the unordered nav list, the width is 50%, the text is centered, with white text, block display, and no top/bottom margin and auto side margins*/
nav ul li a {
    width: 50%;
    text-align: center;
    color: white;
    display: block;
    margin: 0 auto;
}

/* Ech aside and article has a box shadow and the text aligned in the center */
aside,
article {
    box-shadow: -5px 5px 10px rgb(29, 29, 29);
    text-align: center;
}


/* each element with a textbox class has a background color of gray and text color of white */
.textbox {
    background-color: rgb(77, 77, 79);
    color: white;
}

/* each element with a textbox and box class  has an orange border with a radius of two*/
.textbox,
.box {
    border: 3px solid #f7913d;
    border-radius: 2%;
}

/* textbox class paragraph inputs have a bottom margin of 1 view height */
.textbox p input {
    margin-bottom: 1vh;
}

/* textbox class headers(1) have a font size of 1.75em, 5px padding, orange color, and 1.75 line height */
.textbox h1 {
    font-size: 1.75em;
    padding: 5px;
    color: #f7913d;
    line-height: 1.75em;
}

/* textbox class headers(4) have a color of orange */
.textbox h4 {
    color: #f7913d;
    padding: 5px;
    font-size: 1em;
}

/* textbox class a elements have to text decoration, 10px padidng, and transition the font size and text shadow .5 and .6 seconds respectivley */
.textbox a {
    text-decoration: none;
    padding: 10px;
    transition: font-size, .5s;
    transition: text-shadow, .6s;
}

/* When the textbox a is hovered over, the text gets smaller and gains a white text shadow */
.textbox a:hover {
    color: white;
    font-size: 1.9vw;
    text-shadow: 0px 0px 10px white;
}

/* When the textbox a is visited or in a regular state, the text is orange */
.textbox a:link,
.textbox a:visited {
    color: #f7913d;
}

/* Styles for the links in the aside box */
aside#info p {
    margin-top: 0;

}

/* button element has a margin top and left of 5 and 25 percent, a color of oragne and a font size of 15px */
button {
    color: #f7913d;
    font-size: 15px;
    margin-left: 25%;
    margin-top: 5%;
}

/* When the button is hovere over, it gains an orange box shadow */
button:hover {
    box-shadow: 0px 0px 5px rgb(255, 186, 59);

}

/* id questions width and height */
#questions {
    width: 100%;
    height: 15em;
}

/* id submit font color, font size, and width */
#submit {
    color: #f7913d;
    font-size: 1em;
    width: 40%;

}

/* when submit is hovered over, it gains a box shadow */
#submit:hover {
    box-shadow: 0px 0px 5px rgb(255, 186, 59);
}

/* when submit is being clicked, it has a gray background */
#submit:active {
    background-color: rgb(77, 77, 79);
}


/* Styles for the information links in the index  */
aside#infoLinks {
    color: #f7913d;
    float: right;
    background-color: rgb(77, 77, 79);
    padding: 5px;
    border-bottom-left-radius: 10px;
}

aside#infoLinks h1 {
    font-size: 1.75em;
    padding: 5px;
}

aside#infoLinks ol a {
    text-decoration: none;
    padding: 10px;
}

aside#infoLinks ol:last-of-type li:last-of-type {
    padding-bottom: 15px;
}

/*Hover effect for the NAV */
#horizontal ul li a {
    position: relative;
}

#horizontal a,
#horizontal a:before,
#horizontal a:after {
    transition: all 1s;
}

#horizontal ul li a:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: ".";
    color: transparent;
    height: 2px;
    background: white;
}

#horizontal ul li a:hover:after {
    width: 60%;
}

/* Inline form validation */
input:focus,
textarea:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

input#name:valid,
input#email:valid,
input#phone:valid {
    background-color: rgb(210, 255, 210);
}

input#name:focus:invalid,
input#email:focus:invalid,
input#phone:focus:invalid {
    background-color: rgb(255, 197, 197);
}

/* Hides navicon on computer view */
#navicon {
    display: none;

}

/* Bigger than 1000 */
@media only screen and (min-width: 1000px) {

    /* text link hover size  */
    .textbox a:hover {
        font-size: 1.4vw;
    }

    #horizontal ul li a:hover:after {
        width: 50%;
    }
}


/* Smaller than 850 */
@media only screen and (max-width: 850px) {

    /* Width and font size adjustments for a smaller screen */
    aside#address,
    aside#form {
        width: 40%;
    }


    .textbox a:hover {
        font-size: 2.5vw;
    }

    .textbox p {
        font-size: 1em;
    }

    /* Navicon styles */
    i.fa-bars {
        color: white;
        padding: 4px;
    }

    /* Shows the navicon when viewed on mobile screen */
    #navicon {
        display: block;
    }

    #horizontal ul {
        display: none;
    }

    a#navicon:hover+ul,
    nav#horizontal ul:hover {
        display: block;
    }

    .fa-bars {
        font-size: 25px;
        padding: 10px;
    }

    /*Changes the way the nav links are underlined in the different viewport */
    #horizontal ul li a:hover:after {
        width: 120%;
    }


    /*Changes background to fill space left by images taken out*/
    form {
        width: 100%;
    }
}