@font-face {
    font-family: Engschrift;
    src: url("DINEngschrift/DINEng");
}

@font-face {
    font-family: Nunito Light;
    src: url("Nunito_Sans/NunitoSans-Light.ttf");
}

body {
    background: url(chair.jpg);
    font-family: 'Nunito Light', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background: #f7913d;
    font-family: 'Engschrift', sans-serif;
    padding-bottom: 5px;
}


nav {
    margin: 0 auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    font-size: 1.3em;
    display: inline-block;
    margin: 0 auto;
    width: 20%;
}

nav ul li a {
    width: 50%;
    text-align: center;
    color: white;
    display: block;
    margin: 0 auto;
}

aside,
article {
    box-shadow: -5px 5px 10px rgb(29, 29, 29);
}

.textbox {
    background-color: rgb(77, 77, 79);
    color: white;
}

.textbox,
.box {
    border: 3px solid #f7913d;
    border-radius: 2%;
}

footer {
    background: #f7913d;
    color: white;
    height: 65px;
    font-family: 'Engschrift', sans-serif;
}



.textbox h1 {
    font-size: 1.75em;
    padding: 5px;
    color: #f7913d;
}

.textbox h4 {
    color: #f7913d;
    padding: 5px;
    font-size: 1em;
}

.textbox a {
    text-decoration: none;
    padding: 10px;

}

.textbox a:hover {
    color: white;
    font-size: 15px;
    text-shadow: 0px 0px 10px white;
}

.textbox a:link,
.textbox a:visited {
    color: #f7913d;
}

button {
    color: #f7913d;
    font-size: 15px;
    margin-left: 5em;
    margin-top: .5em;
}

button:hover {
    box-shadow: 0px 0px 5px rgb(255, 186, 59);
}

/* Styles for the information links in the index  */
aside#infoLinks {
    color: #f7913d;
    float: right;
    background-color: rgb(77, 77, 79);
    padding: 5px;
    border-bottom-left-radius: 10px;
}

aside#infoLinks h1 {
    font-size: 1.75em;
    padding: 5px;
}

aside#infoLinks ol a {
    text-decoration: none;
    padding: 10px;
}

aside#infoLinks ol:last-of-type li:last-of-type {
    padding-bottom: 15px;
}

hr#infoHr {
    width: 30px;
    margin: 5px auto;
    border-radius: 5px;
}

/*Hover effect for the NAV */
#horizontal ul li a {
    position: relative;
}

#horizontal a,
#horizontal a:before,
#horizontal a:after {
    transition: all 1s;
}

#horizontal ul li a:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: ".";
    color: transparent;
    background: white;
    height: 2px;
}

#horizontal ul li a:hover:after {
    width: 70%;
}