body {
    background: url(chair.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
}

header {
    background: #f7913d;
    padding-bottom: 5px;
}

img#logo {
    width: 37%;
}

nav {
    margin: 0 auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    font-size: 1.3em;
    display: inline-block;
    margin: 0 auto;
    width: 20%;
}

nav ul li a {
    width: 50%;
    text-align: center;
    color: white;
    display: block;
    margin: 0 auto;
}

.box {
    background-color: rgba(255, 255, 255, 0.603);
    border: 3px solid rgba(255, 255, 255, 0.87);
}

footer {
    background: #f7913d;
    color: white;
}

/* Styles for the information links in the index  */
aside#infoLinks {
    color: #f7913d;
    float: right;
    background-color: rgb(77, 77, 79);
    padding: 5px;
    border-bottom-left-radius: 10px;
}

aside#infoLinks h1 {
    font-size: 1.75em;
    padding: 5px;
}

aside#infoLinks ol a {
    text-decoration: none;
    padding: 10px;
}

aside#infoLinks ol:last-of-type li:last-of-type {
    padding-bottom: 15px;
}

hr#infoHr {
    width: 30px;
    margin: 5px auto;
    border-radius: 5px;
}

/*testing stuff*/
#horizontal ul li a {
    position: relative;
}

#horizontal a,
#horizontal a:before,
#horizontal a:after {
    transition: all 1s;
}

#horizontal ul li a:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: ".";
    color: transparent;
    background: white;
    height: 2px;
}

#horizontal ul li a:hover:after {
    width: 70%;
}