@font-face {
    font-family: Engschrift;
    src: url("DINEngschrift/DINEng");
}

@font-face {
    font-family: Nunito Light;
    src: url("Nunito_Sans/NunitoSans-Light.ttf");
}

body {
    background: url(chair.jpg);
    background-size: cover;
    font-family: 'Nunito Light', sans-serif
}

header {
    background: #f7913d;
    font-family: 'Engschrift', sans-serif;
}



nav ul li {
    list-style-type: none;
    font-size: 1.3em;
}

li a {
    color: white;
}

aside,
article {
    box-shadow: -5px 5px 10px rgb(29, 29, 29);
}

.textbox {
    background-color: rgb(77, 77, 79);
    color: white;
}

.textbox,
.box {
    border: 3px solid #f7913d;
    border-radius: 2%;
}

footer {
    background: #f7913d;
    color: white;
    height: 65px;
    font-family: 'Engschrift', sans-serif;
}



.textbox h1 {
    font-size: 1.75em;
    padding: 5px;
    color: #f7913d;
}

.textbox h4 {
    color: #f7913d;
    padding: 5px;
    font-size: 1em;
}

.textbox a {
    text-decoration: none;
    padding: 10px;

}

.textbox a:hover {
    color: white;
    font-size: 15px;
    text-shadow: 0px 0px 10px white;
}

.textbox a:link,
.textbox a:visited {
    color: #f7913d;
}

button {
    color: #f7913d;
    font-size: 15px;
    margin-left: 5em;
    margin-top: .5em;
}

button:hover {
    box-shadow: 0px 0px 5px rgb(255, 186, 59);
}